.header {
    background-color: #0f161d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    background-color: #86040f;
    transition: background-color .5s ease;
    padding: 5px 10px;
    cursor: pointer;
    height: 60px;
  }
  
  .logo-text {
    font-size: 30px;
    font-weight: bold;
  }
  
  .logo-container:hover {
    background-color: #4696e6;
    transition: background-color .5s ease;
  }
  