@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="TestPage">Click For Authentication and Authorization Test.</a>

<br />


<a asp-action="AdminRolePage">Admin Page</a>

<br />

<a asp-action="ModRolePage">Moderator Page</a>

<br />

<a asp-action="CustomLogin">Login</a>

<br />

<a asp-action="LogOut">Log Out</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
